# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'PHPUnit'
            'submenu': [
                { 'label': 'Run All Tests', 'command': 'phpunit:alltests' },
                { 'label': 'Run Current Test', 'command': 'phpunit:current' }
                { 'label': 'Run Open Tests', 'command': 'phpunit:workspace' }
                { 'label': 'Hide', 'command': 'phpunit:hide'}
            ]
        ]
    }
]

'context-menu':
    '.overlayer': [
            { 'label': 'Run All Tests', 'command': 'phpunit:alltests' }
    ]
