# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'phpunit'
            'submenu': [
                { 'label': 'Run PHPUnit Test', 'command': 'phpunit:test' }
            ]
        ]
    }
]

'context-menu':
    '.overlayer': [
            { 'label': 'Run PHPUnit Test', 'command': 'phpunit:test' }
    ]
